backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
lecture_extracts/
Projektarbeit_WS_2026_extracted.txt
.DS_Store
**/.DS_Store
__MACOSX/

### IDEs ###
.idea/
.vscode/
*.iws
*.iml
*.ipr

### Build output ###
target/
build/
logs/
